.notifications-form {
    max-width: 1000px;
   width: 1000px;
   height: 408px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color:  #fff;
    margin-top: 1px;
    margin-left: 250px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .notifications-form h2 {
    text-align: center;
    margin-top: 1px;
  
  }
  h2{
    color: #ffffff;
    font-size: 30px;
    background-color: #8a8888;
  }
  
  .form-group {
    margin-bottom: 5px;
    
  }
  
  .btn-primary{
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    background-color: #8a8888;
    width: 100px;
    margin-right: 10px;
    font-weight: bold;
  }
  
  .btn-Secondry{
   
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
    color: #070707;
    background-color: #fdfcfc;
    width: 100px;
    margin-right: 10px;
    font-weight: bold;
  }
  
  
  .notifications-container {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding-top: 25px;
  }
  
  
  
  
  .dropdown {
    position: relative;
    display: inline-block;
    
    
  }
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    z-index: 1;
   
  }
  
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  
  .dropdown-content a {
    display: block;
    padding: auto;
    text-decoration: none;
    color: #333;
   text-align: left;
  }
  
  
  .dropdown-content a:hover {
    background-color: #b3b5b6;
    color: white;
  }
  
  .column {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
  }
  
  .column .form-group {
  flex: 1;
  padding: 3px;
  display: flex;
  flex-direction: column;
  }
  
  .form-group2 {
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  
  
  
  