<br>

<div class="menu">
    <a routerLink="/home">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a routerLink="/dashbord">Dashbord</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="dropdown">
      <a routerLink="/jobSeeker">Job Seeker</a>
      <div class="dropdown-content">
        <a routerLink="/seekerProfile/profile">Profile</a>
        <a routerLink="/seekerProfile/notifications">Job Notifications</a>
        <a routerLink="/seekerProfile/jobSearch">Job Search</a>
      </div>
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a routerLink="/myProfile">My Profile Page</a>

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

     <button  class="btn-Secondry" routerLink="/home"> logout</button>
    
  </div>
<br/>
<h1 style="color: #494848;">Welcome To Job Portal Website</h1>
<div class="seekerProfile-container">
   
<div class="seekerProfile-form">
    
  
    <div>
      <form class="form-group">
        <div class="column">
          <div class="form-group">
            <img src="assets/images/B1.png" alt="this images" />
          </div>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <div class="form-group">
            <img src="assets/images/B2.png" alt="this images" />
          </div>
         

          <div class="form-group">
            <img src="assets/images/B3.png" alt="this images" />
          </div>
          </div>
       
    </form>

    </div>

    <h2 style="color: #616162;">Step By Step To Reach Your Dream Job</h2>

