
<br>

<div class="menu">
  <a routerLink="/">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a routerLink="/dashbord">Dashbord</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

  <div class="dropdown">
    <a routerLink="/jobSeeker">Job Seeker</a>
    <div class="dropdown-content">
      <a routerLink="/seekerProfile/profile">Profile</a>
      <a routerLink="/seekerProfile/notifications">Job Notifications</a>
      <a routerLink="/seekerProfile/jobSearch">Job Search</a>
    </div>
  </div>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a routerLink="/myProfile">My Profile Page</a>

  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   <button  class="btn-Secondry" routerLink="/home"> logout</button>
</div>
<br/>
<div class="seekerProfile-container">
<div class="seekerProfile-form">
  
  <h2>Job Search</h2>
  <div>
    <form class="form-group">
      <div class="column">
        <div class="form-group">
          <label for="jobTitle">Job Title:</label>
          <select id="jobTitle" name="jobTitle">
            <option value="value1"></option>
            <option value="value2"></option>
            <option value="value3"></option>
            <option value="value4"></option>
          </select>
        </div>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <div class="form-group">
          <label for="location">Location:</label>
          <select id="location" name="location">
            <option value="value1"></option>
            <option value="value2"></option>
            <option value="value3"></option>
            <option value="value4"></option>
          </select>
        </div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="form-group">
          <label for="Keywords">Keywords:</label>
          <input type="Keywords" id="Keywords" name="Keywords" />
        </div>
        </div>
    
    
      <div class="column">
       
        <div class="form-group">
          <label for="major">Major:</label>
          <input type="major" id="major" name="major" />
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="form-group">
          <label for="education">Eduction Level:</label>
<select id="education" name="education">
  <option value="high-school">High School</option>
  <option value="associate">Associate's Degree</option>
  <option value="bachelor">Bachelor's Degree</option>
  <option value="master">Master's Degree</option>
  <option value="doctorate">Doctorate (Ph.D.)</option>
 
</select>
        </div>
      </div>
      
    

     <br>
     
     <div class="form-group2">

      <button class="btn-primary" >Search</button>
     </div>
     <br>
     <br>
     <table style="border: 1px solid black; width: 900px;">
      <tr >
        <th>Job Title</th>
        <th>Company</th>
        <th>Location</th>
        <th>Posted Date</th>
        <th >Action</th>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td ><button class="btn-primary">Apply</button></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><button class="btn-primary">Apply</button></td>
      </tr>

      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><button class="btn-primary">Apply</button></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><button class="btn-primary">Apply</button></td>
      </tr>
     </table>
  </form>

  </div>


