<br>
<div class="menu">
  <button   class="btn-Secondry" routerLink="/login"> Login</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <button   class="btn-Secondry" routerLink="/home" > logout</button>
  </div>
<br/>
<div class="signUp-container">
<div class="signUp-form">
    
    <h2>Sign Up</h2>
    <div>
    <form class="form-group" >
        <div class="form-group">
            <label for="username">User Name</label>
            <input type="text" id="username" name="username" />
      </div>

      <div class="form-group">
        <label for="name">Name</label>
        <input type="name" id="name" name="name" />
      </div> 

            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" id="password" name="password" />
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" />
              </div>

              <div class="form-group">
                <label for="mobile">Mobile Number</label>
                <input type="mobile" id="mobile" name="mobile" />
              </div>
        
       
        <button class="btn-primary" >Sign Up</button>
        
    
       
    </form>
    <div class="signup-footer">
          
      Already a member?<a routerLink="/login">login</a>
        </div>
    </div>
</div>

    <img src="assets/images/signUp1.png" alt="this images" class="img2"/>

</div>
