<br>
<br/>
<div class="home-container">
<div class="home-form">
      <div>
      <form class="form-group" >
          <div class="form-group">
            <h2>Find Your Dream Job With Us</h2>
            <p>Find job, the job search website built to help you every step of the way. 
                  Get free access to millions of job postings personalize your
                   search and submit job applications</p>
          </div>
      </form>
      </div>
     
      <br>
      <br>
      <div   class="form-group2">
      <button class="btn-primary" routerLink="/login">Login</button>
      <button class="btn-primary" routerLink="/signUp" >Sign Up</button>
      </div>
</div>

<img src="assets/images/home2.webp" alt="this images" class="img2"/>

</div>
















      



